#basic-navbar-nav {
  margin-top: 10px;
  align-content: center;
}
#navbar-home {
  color: red !important;
  margin-right: 40px;
  margin-top: 10px;
  font-weight: 600;
  margin-left: 28px;
}
#navbar-home:hover {
  font-weight: bold;
  text-decoration: underline;
}
#navbar-modules {
  margin-right: 40px;
  margin-top: 10px;
  font-weight: 600;
  margin-left: 40px;
}
#navbar-modules:hover {
  font-weight: bolder;
  text-decoration: underline;
}

.navbar-brand {
  padding-left: 16px;
  padding-top: 10px;
}
