.nav-color {
  border-color: black;
  border-bottom: 2px solid black;
}
#basic-navbar-nav {
  margin-top: 10px;
  align-content: center;
  border-bottom: 2px solid;
}
.nav-link {
  text-decoration: none !important;
  color: black !important;
}
#navbar-home {
  color: black !important;
  margin-right: 20px;
  margin-top: 10px;
  font-weight: 600;
  margin-left: 28px;
}
#navbar-home:hover {
  font-weight: bold;
  text-decoration: underline;
}
#navbar-modules {
  color: black !important;
  margin-right: 40px;
  margin-top: 10px;
  font-weight: 600;
  margin-left: 20px;
}
#navbar-modules:hover {
  font-weight: bold;
  text-decoration: underline;
}

.navbar-brand {
  padding-left: 16px;
  padding-top: 10px;
}
